<ion-view view-title="{{'my' | translate}}">
    <ion-header-bar class="bar-calm">
        <button class='button icon ion-arrow-left-a' ng-click='goToOpmlList()'></button>
        <h1 class="title">{{viewModel.opmlFeed.Title}}</h1>
        <button class="button icon-right ion-home" ng-click="window.open( viewModel.opmlFeed.HtmlUrl )"></button>
    </ion-header-bar>

    <ion-content class="has-header gem-ion-content">
        <div class="list">
            <div ng-repeat="story in viewModel.stories" class="item" ng-click="openStory($index)">
                <b>{{story.feed.fTitle}}</b> - {{story.Title}}
                <p ng-bind-html="story.Summary | sanitize"></p>
            </div>
        </div>
    </ion-content>
</ion-view>