<ion-view view-title="{{viewModel.opmlFeed.Title}}" hide-nav-bar="true">
    <script id="feed-menu-popover.html" type="text/ng-template">
        <ion-popover-view>
            <ion-header-bar>
                <h1 class="title">Actions</h1>
            </ion-header-bar>
            <ion-content>
                <div class="list">
                    <div class="item item-button-right" >
                        Home
                        <button class="button button-positive" ng-click="window.open( viewModel.opmlFeed.HtmlUrl )">
                            <i class="icon ion-home"></i>
                        </button>
                    </div>

                    <div class="item item-button-right" >
                        Mark All Read
                        <button class="button button-positive" ng-click="markFeedsRead()">
                            <i class="icon ion-minus-circled"></i>
                        </button>
                    </div>

                    <div class="item item-button-right" >
                        UnSubsribe
                        <button class="button button-positive" ng-click="removeFeedSource()">
                            <i class="icon ion-minus-circled"></i>
                        </button>
                    </div>

                </div>
            </ion-content>
        </ion-popover-view>
    </script>
    <script id="story-template.html" type="text/ng-template">
        <div class="item story">
            <b ng-click="open()" ng-show="!story.isRead">[<span am-time-ago="story.PublishedTime"></span>] {{story.Title}} - {{story.FeedTitle}} </b>
            <span ng-click="open()" ng-show="story.isRead">[<span am-time-ago="story.PublishedTime"></span>] {{story.Title}} - {{story.FeedTitle}} </span>
            <p ng-show="viewModel.level==0" ng-bind-html="viewModel.content0 | sanitize">
            <p ng-show="viewModel.level==1" ng-bind-html="viewModel.content1 | sanitize">
            <p ng-show="viewModel.level==2" ng-bind-html="viewModel.content2 | sanitize">
            </p>
            <i class="icon ion-plus-circled" style="position:relative; font-size:1.7em;" ng-click="expand()"></i>
            <i class="icon ion-minus-circled" style="position:relative; font-size:1.7em;" ng-click="collapse()"></i>
            <ion-spinner ng-show="viewModel.isBusy" icon="android"></ion-spinner>
        </div>
    </script>
    <ion-footer-bar class="bar-calm">
        <button class='button icon ion-arrow-left-a' ng-click='goHome()'></button>
        <ion-spinner ng-show="viewModel.isBusy" icon="android"></ion-spinner>
        <h1 class="title">{{viewModel.opmlFeed.Title}} ({{viewModel.opmlFeed.unReadCount}})</h1>
        <button class="button icon ion-navicon" ng-click="openPopover($event)"></button>
    </ion-footer-bar>

    <ion-content class="gem-ion-content">
        <ion-list>
            <story story="story" open="openStory($index)" ng-repeat="story in viewModel.stories"></story>
        </ion-list>
        <div class="item" ng-show="!viewModeel.hasMoreStories">End Of Feed</div>
        <ion-infinite-scroll ng-if="viewModel.hasMoreStories"
            on-infinite="loadMoreStories()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>