<ion-view view-title="Follow Star Feeds">

    <ion-header-bar class="bar-calm">
        <button class="button button-icon icon ion-navicon" ></button>
        <ion-spinner ng-show="viewModel.isBusy" icon="android"></ion-spinner>
        <h1 class="title">Follow Star Feeds </h1>
        <button class="button button-icon icon ion-plus-circled" ng-click="openAddFeed()"></button>
    </ion-header-bar>

    <ion-content class="has-header gem-ion-content">
        <ion-list>
            <ion-list>
                <opml opml="opml" on-opml-clicked="router.goReadFeed(opml)"
                      on-opml-feed-clicked="router.goReadFeed(opmlFeed)"
                      ng-repeat="opml in viewModel.opmlsList"></opml>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>