<ion-view view-title="Manage Account Setting">
    <ion-header-bar class="bar-calm">
        <button class='button icon ion-arrow-left-a' ng-click='router.goManageTab()'></button>
        <ion-spinner ng-show="viewModel.isBusy" icon="android"></ion-spinner>
        <h1 class="title">Arrange feeds</h1>
        <button class="button icon ion-thumbsup" ng-click="applyAllChanges()"></button>
    </ion-header-bar>

    <ion-content class="has-header gem-ion-content">
        <div id="manage" class="list">

            <div class="card" ng-repeat="opml in viewModel.opmls " ng-cloak>
                <div class="item item-divider" ng-if="opml.isFolder()">
                    {{opml.Title}}
                </div>

                <div class="item item-text-wrap" ng-repeat="feed in opml.getOutlines()" ng-if="!feed.Deleted">
                    <i class="icon ion-checkmark-circled" ng-if="isOpmlModified(feed)" style="color:green">
                        Changed
                    </i>


                    <!--TODO: possibly highlight the unsubscribe after click-->
                    <label class="item item-input" ng-click="markFeedDelete(feed)">
                        <a><i class="icon ion-android-delete unsubscribe-inactive" ></i></a>
                        <span class="one-line">{{feed.XmlUrl}}</span>
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Title</span>
                        <input type="text" placeholder="Feed Title" ng-model="feed.Title"/>
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Folder</span>
                        <select ui-select2="pickOption" ng-model="feed.Folder" data-placeholder="Pick a folder">
                            <!--<option value="feed.OFolder">{{feed.OFolder}}</option>-->
                            <option ng-repeat="folderOption in viewModel.folderOptions"
                                    value="{{folderOption.text}}">{{folderOption.text}}</option>
                        </select>
                    </label>
                </div>


            </div>
        </div>
        <ion-infinite-scroll ng-if="hasMoreOpmls()" on-infinite="loadMoreOpmls()" immediate-check="false" distance="1%">
        </ion-infinite-scroll>


    </ion-content>
</ion-view>