<ion-view view-title="Manage your account">
    <ion-header-bar class="bar-calm">
        <button class='button icon ion-arrow-left-a' ng-click='goHome()'></button>
        <ion-spinner ng-show="viewModel.isBusy" icon="android"></ion-spinner>
        <h1 class="title">Arrange your feeds</h1>
        <button class="button icon ion-thumbsup" ng-click="applyAllChanges()">Apply</button>
    </ion-header-bar>

    <ion-content class="has-header gem-ion-content">
        <div class="list">
        </div>



    </ion-content>

    <!--<ion-footer-bar class="bar-calm">-->
        <!--<ion-spinner ng-show="viewModel.isBusy" icon="android"></ion-spinner>-->
        <!--<button class="button button-positive" ng-click="applyAllChanges()">Apply</button>-->
    <!--</ion-footer-bar>-->
</ion-view>