<ion-view view-title="Manage your account">
    <ion-header-bar class="bar-calm">
        <h1 class="title">Manage your account</h1>
    </ion-header-bar>

    <ion-content class="has-header gem-ion-content">
        <div class="list">
            <div class="item item-divider">
                Manage Feeds
            </div>

            <a class="item item-icon-left" ng-click="router.goManageAdjust()">
                <i class="icon ion-wrench"></i>
                Arrange Feeds
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="router.goManageFeedTrend()">
                <i class="icon ion-ios-pulse-strong"></i>
                <b>Feed</b> Trends
                <i class="icon ion-ios-pulse-strong"></i>
            </a>

            <a class="item item-icon-left item-icon-right" ng-click="router.goManageReadTrend()">
                <i class="icon ion-ios-pulse-strong"></i>
                <b>Reading</b> Trends
                <i class="icon ion-ios-pulse-strong"></i>
            </a>

            <div class="item item-divider">
                Manage Account
            </div>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-person-stalker"></i>
                Change Password
                <span class="badge badge-assertive">0</span>
            </a>

        </div>
    </ion-content>
</ion-view>