<ion-view view-title="">

    <ion-header-bar class="bar-calm">
        <button class="button button-icon icon ion-navicon" ></button>
        <ion-spinner ng-show="viewModel.isBusy" icon="android"></ion-spinner>
        <h1 class="title">Stared Feeds </h1>
        <button class="button button-icon icon ion-plus-circled" ng-click="openAddFeed()"></button>
    </ion-header-bar>

    <ion-content class="has-header gem-ion-content">
        <ion-list>
            <ion-item ng-repeat="opml in viewModel.opmlsList"  >
                <i class="icon ion-folder" ng-if="opml.hasOutline" ng-click="openFolder(opml)"></i>
                <i class="icon ion-document" ng-if="!opml.hasOutline"></i>
                <b ng-click="openOpmlFeed( opml )">{{opml.Title}}</b>
                <!--<span class="badge badge-assertive" ng-show="opml.unReadCount!=0">{{opml.unReadCount}}</span>-->
                <ion-list ng-show="opml.isOpen">
                    <ion-item class="item-accordion" ng-repeat="feed in opml.Outline"
                            style="border:none">
                        <i class="icon ion-document"></i>
                        <b ng-click="openOpmlFeed( feed )" style="width:90%">{{feed.Title}}</b>
                        <!--<span class="badge badge-assertive" ng-show="feed.unReadCount!=0">{{feed.unReadCount}}</span>-->
                    </ion-item>
                </ion-list>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>