<ion-footer-bar align-title="left" class="bar-calm">
    <ion-spinner ng-show="viewModel.isBusy" icon="android"></ion-spinner>
    <div class="buttons">
        <button class='button icon ion-arrow-left-a' ng-click="goToFeed(viewModel.opml)"></button>
    </div>
    <h1 class="title">{{viewModel.story.Title}}</h1>
    <div class="buttons">
        <button class="button icon ion-heart" ng-show="!viewModel.story.isStar" ng-click="markStoryStar()"></button>
        <!--tried to move style to css doesn't work, moving back temp-->
        <button class="button icon ion-heart starred" style="color:red"
                ng-show="viewModel.story.isStar" ng-click="markStoryStar()"></button>
    </div>
</ion-footer-bar>

<ion-content class="gem-ion-content">
    <story story="viewModel.story" is-busy="viewModel.isBusy">

    </story>
</ion-content>