<ion-footer-bar align-title="left" class="bar-calm">
    <ion-spinner ng-show="viewModel.isBusy" icon="android"></ion-spinner>
    <div class="buttons">
        <button class='button icon ion-arrow-left-a' ng-click='goToFeed()'></button>
    </div>
    <h1 class="title">{{viewModel.story.Title}}</h1>
    <div class="buttons">
        <button class="button icon ion-heart" ng-show="!viewModel.story.isStar" ng-click="markStoryStar()"></button>
        <button class="button icon ion-heart" style="color:red"
                ng-show="viewModel.story.isStar" ng-click="markStoryStar()"></button>
    </div>
</ion-footer-bar>

<ion-content class="gem-ion-content">
    <div class="bar bar-header">
        <h2 class="title">
            <b>{{viewModel.story.Author}}</b>
            <b am-time-ago="viewModel.story.Date" am-preprocess="unix" ></b>
        </h2>
    </div>

    <div>
        <div ng-bind-html="viewModel.story.Content | sanitize" style="padding:3em;"></div>
    </div>
</ion-content>