<ion-popover-view>
    <ion-header-bar>
        <h1 class="title">Actions</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-button-right" >
                Link
                <button class="button button-positive ion-link" ng-click="window.open( viewModel.opmlFeed.HtmlUrl )">
                    <i class="icon ion-home"></i>
                </button>
            </div>

            <div class="item item-button-right" >
                Mark All Read
                <button class="button button-positive" ng-click="markFeedsRead()">
                    <i class="icon ion-minus-circled"></i>
                </button>
            </div>

            <div class="item item-button-right" >
                UnSubsribe
                <button class="button button-positive" ng-click="unSubscribeFeed()">
                    <i class="icon ion-minus-circled"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>