<ion-popover-view>
    <ion-header-bar>
        <h1 class="title">Actions</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-button-right" >
                Import Opml
                <button class="button button-positive" ng-click="router.goReadImportFeed()">
                    <i class="icon ion-minus-circled"></i>
                </button>
            </div>

            <div class="item item-button-right" >
                Export Opml
                <button class="button button-positive" ng-click="router.goReadImportFeed()">
                    <i class="icon ion-minus-circled"></i>
                </button>
            </div>

        </div>
    </ion-content>
</ion-popover-view>