<ion-view view-title="Log in" name="login-view">
    <ion-content class="padding">
        <div>
            <h1 style="font-size: 10em; text-align:center">我读</h1>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="viewModel.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="viewModel.pass">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="login()">Login</button>
        <button class="button button-block button-calm" ng-click="goRegister()">Register Now!</button>
    </ion-content>
</ion-view>