<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Read" icon-off="ion-social-rss" icon-on="ion-social-rss" href="#/tab/read">
    <ion-nav-view name="tab-read"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Follow" icon-off="ion-heart" icon-on="ion-heart" href="#/tab/follow">
    <ion-nav-view name="tab-follow"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Manage" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/manage">
    <ion-nav-view name="tab-manage"></ion-nav-view>
  </ion-tab>

</ion-tabs>
